<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.4</string>
	<key>CFBundleDisplayName</key>
	<string>EscapeRank</string>
	<key>CFBundleIdentifier</key>
	<string>com.hector.escaperank</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProductSans-Bold.ttf</string>
		<string>ProductSans-BoldItalic.ttf</string>
		<string>ProductSans-Italic.ttf</string>
		<string>ProductSans-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>materialdesignicons-webfont.ttf</string>
		<string>CustomIconFont.ttf</string>
	</array>
	<key>CFBundleName</key>
	<string>EscapeRank</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/Icono.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>Titulo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UIMainStoryboardFile</key>
	<string>Titulo</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb189786668963302</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita acceso para utilizar la cámara.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceso a las fotos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Esta aplicación necesita acceso al micrófono.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación necesita acceso a la libreria de fotos.</string>
</dict>
</plist>
